<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data.Protection" version="0.19.0" targetFramework="net47" />
  <package id="Carbon.Json" version="1.7.0" targetFramework="net47" />
  <package id="Carbon.Packaging" version="1.27.1" targetFramework="net47" />
  <package id="Carbon.Storage" version="1.15.0" targetFramework="net47" />
  <package id="Carbon.VersionControl" version="1.8.0" targetFramework="net47" />
  <package id="Carbon.Versioning" version="1.5.0" targetFramework="net47" />
  <package id="GitHub" version="1.12.0" targetFramework="net47" />
  <package id="IdeaTech.System.Web.Mvc.Extensions" version="1.0.1" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net47" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="Moq" version="4.1.1309.1617" targetFramework="net47" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net47" />
  <package id="Ninject.MVC3" version="3.0.0.6" targetFramework="net47" />
  <package id="Ninject.Web.Common" version="3.0.0.7" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net47" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net47" />
  <package id="WebActivator" version="1.5" targetFramework="net47" />
</packages>